.order{
    font-weight: 900;
    border: 1px solid;
    border-left: 7px solid;
    display: flex;
    flex-direction: column;
    max-width: max-content;
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    flex: 1 1 0px;
    margin: 10px;
}

.ordertop{
    min-width: 310px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.orderid{
    white-space: nowrap;
}

.csvg{
    margin-left: 5px;
    margin-bottom: 5px;
    width: 30px;
}

.ordericons{
    display: flex;
}